/* master stylesheet for City University - RESTful API test */

body{
  font-family: Arial, Helvetica, sans-serif;
}

#photosAPI__container{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  min-width: 300px;
}

.photosAPI__listing{
  position: relative;
  width: 180px;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.photosAPI__listing-title{
  font-weight: bold;
  font-size: 20px;
}

.photosAPI__listing-img{
  display: block;
  margin: 0 auto;
  transition: .8s ease;
}

.photosAPI__listing-id-bg{
  width: 0;
  height: 0;
  border-top: 40px solid #eee;
  border-right: 40px solid transparent;
  position: absolute;
  left: 0;
  top: 0;
}

.photosAPI__listing-id{
  position: absolute;
  margin: 0;
  top: -37px;
  font-size: 12px;
  width: 25px;
  text-align: center;
}

.photosAPI__listing:hover .photosAPI__listing-img{
  opacity: 0.8;
}

.photosAPI__listing:hover .photosAPI__listing-img--zoom{
  opacity: 1;
}

.photosAPI__listing-img--zoom{
  position: absolute;
  top: 70px;
  left: 85px;
  transition: .8s ease;
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  .photosAPI__listing{
    width: 100%;
  }
  .photosAPI__listing-img{
    float: left;
    margin-right: 10px;
  }
  #photosAPI__container{
    width: 100%;
  }

}

/* pagination */
.photosAPI__listing--fill{
  width: auto;
}

.ng-scope{
  flex-grow: 1;
}

.pagination-container{
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .pagination-container{
    width: 100%;
  }
  .photosAPI__listing--fill{
    height: 200px;
  }
}
